.py-5
{
    background-color: #282c34;
    .col-md-6
    {
        background-color: inherit;
    }
}
.btn-lg
{
    padding: 1vh;
    border-radius: 0%;
    float: center;
    max-width: 60%;
}

.btn-group-vertical
{
    display:block;
}