#header
{
    top: 0;
}

ul
{
    a
    {
        #logo_home
        {
            position: sticky;
            
            left:51%;
            width: 27.5px;
            height: 38.6px;
        }
    }
}

.container-fluid
{
    padding: 0;
}

.nav_bar
{
    position: fixed;
    z-index: 1;
    width: 100%;
    overflow-x: hidden;
    
    ul
    {
        list-style-type:none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#cc220b;
        
        li
        {
            color:rgb(210, 205, 255);
            margin-top:2px;
            margin-left:2px;
            margin-right:2px;
            margin-bottom:2px;
        }
    }
    
    li
    {
        position:relative;
        /* left: 50px; linea a incluir si se desean poner botones en header ya que de no incluirse, se asolaparían con la sidebar*/
        float: left;
        a
        {
            vertical-align:middle;
            
            text-align: center;
            text-decoration:none;
            padding: 0.6vw;
            color: white;
            
            &:hover
            {
                color:#000;
                background-color: #cc220b;
            }
        }
    }
}